name: GitHub-Profile-3D-Contrib

on:
  schedule: # 01:00 UTC
    - cron: "0 1 * * 6"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v2
      - uses: yoshi389111/github-profile-3d-contrib@0.7.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email 11565373+bysomeone@users.noreply.github.com
          git add -A .
          git commit -m ":lipstick: update profile 3d contrib"
          git push
